<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Contributors</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.svg" alt="WeAreAboutToDieLogo">
        </div>
    </header>

    <!-- START OF ARTICLES  -->
    <div class="companyArticles">
        <h1>This is a more in depth background of companies highlighted.</h1>

        <!-- GAZOPRAM 1 -->

        <div class="articles" id="Gazopram">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="Gazopram-text">
                    <h2>Gazopram</h2>
                    <h3>General:</h3>
                        <p>Gazprom, a stalwart in Russia's energy sector, commands a pivotal role as a state-owned entity since its establishment in 1989. Focused on the exploration, production, transportation, and sale of natural gas, Gazprom stands as a global leader with colossal reserves and formidable operational capabilities. Its influence spans both domestic and international spheres, shaping energy markets and geopolitical dynamics.</p>
                    <h3>Environmental Impact:</h3>
                        <p>The expansive operations of Gazprom in the oil and gas industry wield considerable environmental consequences, contributing to greenhouse gas emissions and the exacerbation of climate change. The extraction, refining, and utilization of fossil fuels constitute significant sources of carbon dioxide (CO2) emissions and other pollutants, exacerbating global warming and environmental degradation. In 2020, Gazprom's estimated CO2 emissions stood at approximately 210.32 million metric tons, underlining the magnitude of its environmental impact and the imperative to mitigate its contribution to climate change.</p>
                    <h3>CEO</h3>
                        <p>The company is majority-owned by the Russian government, via the Federal Agency for State Property Management and Rosneftegaz, while the remaining shares are traded publicly.</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="Gazopram-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>


        <!-- NIOC  2 -->

        <div class="articles" id="NIOC">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="NIOC-text">
                    <h2>NIOC</h2>
                    <h3>General:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>Environmental Impact:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>CEO</h3>
                        <p>Unkown as of now</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="NIOC-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>


        <!-- CHEVRON  3 -->

        <div class="articles" id="Chevron">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="Chevron-text">
                    <h2>Chevron</h2>
                    <h3>General:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>Environmental Impact:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>CEO</h3>
                        <p>Unkown as of now</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="Chevron-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>


        <!-- Exxon Mobil 4 -->

        <div class="articles" id="Exxon">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="Exxon-text">
                    <h2>Exxon</h2>
                    <h3>General:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>Environmental Impact:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>CEO</h3>
                        <p>Unkown as of now</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="Exxon-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>


        <!-- Saudi Aramco 5 -->

        <div class="articles" id="Saudi_Aramco">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="Saudi-text">
                    <h2>Saudi Aramco</h2>
                    <h3>General:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>Environmental Impact:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>CEO</h3>
                        <p>Unkown as of now</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="Saudi-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>


        <!-- China Shenhua and other Chinese coal companies 6 -->

        <div class="articles" id="China_Shenhua">
            <div class="content-1">

                <!-- TEXT -->
                <div class="articleText" id="China-text">
                    <h2>China Shenhua and other Chinese coal companies</h2>
                    <h3>General:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>Environmental Impact:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor vestibulum eros, a consectetur lorem condimentum non. Phasellus bibendum auctor neque, non ultricies elit gravida eget. In hac habitasse platea dictumst. Duis lacinia justo quis metus ullamcorper, non laoreet nisi venenatis. Integer id volutpat lorem. Quisque sit amet condimentum mi, eget tristique mi. Proin vel dapibus ligula, nec cursus sapien. Nulla facilisi</p>
                    <h3>CEO</h3>
                        <p>Unkown as of now</p>
                </div>

                <!-- COMPANY IMG -->
                <div class="articleImg" id="China-img">
                    <p>image of company-something will go here</p>
                </div>
            </div>

            <!-- WEB ARTICLES  -->
            <div class="content-2">
                <p>list of web articles for bad stuff theyve done</p>
            </div>
        </div>

    </div>
</body>
</html>