<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are About To Die</title>
</head>
<body>
    <!-- Resources section -->
    <div class="resources">
        <div>
            <h1>Get Involved!</h1>
        </div>
        <div class="petitions">
            <h2>Petitions</h2>
            <div class="links">
            <ul>
                <li><a href="https://www.change.org/t/climate-justice-en-us">Change.org</a></li>
                <li><a href="https://preserve.nature.org/page/81465/petition/1?locale=en-US">PreserveNature.org</a></li>
                <li><a href="https://www.edf.org/action">EDF.org</a></li>
            </ul>
            </div>
        </div>
        <div class="voting">
            <h2>Voting Resources</h2>
            <div class="links">
                <ul>
                    <li><a href="https://vote.gov/">Vote.gov</a></li>
                    <li><a href="https://www.vote.org/">Vote.org</a></li>
                    <li><a href="https://www.lwv.org/">League Of Women Voters</a></li>
                </ul>
            </div>
        </div>
        <div class="volunteering">
            <h2>Volunteer Resources</h2>
            <div class="links">
                <ul>
                    <li><a href="https://350.org/get-involved/?r=US&c=NA">350.org</a></li>
                    <li><a href="https://climatejusticealliance.org/get-involved/">Climate Justice Alliance</a></li>
                    <li><a href="https://citizensclimatelobby.org/join-citizens-climate-lobby/">Citizens Climate Lobby</a></li>
                    <li><a href="https://www.lcv.org/programs/climate-action-program/">LCV Climate Action Volunteer Program</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>