<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are About To Die</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Loading Screen? -->
    <div id="loading-screen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: white; display: flex; justify-content: center; align-items: center; z-index: 9999;">
        <img src="images/logo.svg" alt="WeAreAboutToDieLogo">
    </div>
    <!-- HEADER SECTION -->
    <header>
        <div class="navBar">
            <nav>
                <ul>
                    <div class="nav1">
                        <li><a href="companies.html">Top Contributors</a></li>
                    </div>
                    <li><a href="#actionsSection">What Can You Do?</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo">
            <img src="images/logo.svg" alt="WeAreAboutToDieLogo">
        </div>
    </header>
    <!-- Corousel Section -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="images/Chevron.svg" alt="Chevron"></div>
          <div class="swiper-slide"><img src="images/FixExxon.svg" alt="Exxon"></div>
          <div class="swiper-slide"><img src="images/chinacoal.svg" alt="China Coal"></div>
          <div class="swiper-slide"><img src="images/Gazprom.svg" alt="Gazprom"></div>
          <div class="swiper-slide"><img src="images/NOIC.svg" alt="NOIC"></div>
          <div class="swiper-slide"><img src="images/saudiamerico.svg" alt="Saudi Americo"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    <!-- Human Impact Section -->
    <div class="svg-container">
        <img src="images/HumanImpact.svg" alt="Human Impact" style="width: 100%; height: auto;">
    </div>
    <!-- OH FOREST FIRES!!! -->
    <div id="forest-fire-svg">
        <img src="images/Untitled-2.jpg" alt="Climate Change representation">
    </div>
    <!-- Dry Crops -->
    <div id="dry-crop">
        <img src="images/newCrops.jpg" alt="Picture of Dry Crops">
    </div>
    <!-- Economic Impact -->
    <div id="econ-impact">
        <img src="images/homelessness.jpg" alt="Economic Impact">
    </div>
    <!-- RESOURCES SECTION -->
    <div id="actionsSection">
        <div class="wcyd">
            <img src="images/replacement.png" alt="wcyd" style="width: 100%; height: auto;">
        </div>
        <!-- PETITIONS SECTION -->
        <div class="resources-footer">
            <div class="resources-section petitions">
                <h1>Petitions</h1>
                <ul>
                    <li><a href="https://www.change.org/t/climate-justice-en-us">Change.org</a></li>
                    <li><a href="https://preserve.nature.org/page/81465/petition/1?locale=en-US">PreserveNature.org</a></li>
                    <li><a href="https://www.edf.org/action">EDF.org</a></li>
                </ul>
            </div>
            <div class="resources-section voting">
                <h1>Voting Resources</h1>
                <ul>
                    <li><a href="https://vote.gov/">Vote.gov</a></li>
                    <li><a href="https://www.vote.org/">Vote.org</a></li>
                    <li><a href="https://www.lwv.org/">League Of Women Voters</a></li>
                </ul>
            </div>
            <div class="resources-section volunteering">
                <h1>Volunteer Resources</h1>
                <ul>
                    <li><a href="https://350.org/get-involved/?r=US&c=NA">350.org</a></li>
                    <li><a href="https://climatejusticealliance.org/get-involved/">Climate Justice Alliance</a></li>
                    <li><a href="https://citizensclimatelobby.org/join-citizens-climate-lobby/">Citizens Climate Lobby</a></li>
                    <li><a href="https://www.lcv.org/programs/climate-action-program/">LCV Climate Action Volunteer Program</a></li>
                </ul>
            </div>
            <div class="resources-section representatives">
                <h1>Let Your Voice Be Heard!</h1>
                <input type="text" id="zip-code" name="zip-code" placeholder="Enter ZIP code">
                <button id="fetch-data">Get Representatives</button>
                <div id="representatives-data"></div>
            </div>
        </div>
            <div id="representatives-data"></div>
            <script>
                window.addEventListener('load', function() {
                    var loadingScreen = document.getElementById('loading-screen');
                    loadingScreen.style.opacity = '0';
                    setTimeout(function() {
                        loadingScreen.style.display = 'none';
                    }, 3500);
                });
                </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    var swiper = new Swiper('.mySwiper', {
                    slidesPerView: 3,
                    centeredSlides: true,
                    spaceBetween: 30,
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    keyboard: {
                        enabled: true,
                        onlyInViewport: true,
                    }
                });
                </script>
                <script>
                    $(document).ready(function() {
                        $('#fetch-data').click(function() {
                            var zipCode = $('#zip-code').val();
                            $.ajax({
                                url: '/representatives', // Use relative URL to match Flask route
                                type: 'GET',
                                dataType: 'json',
                                data: {'zip_code': zipCode},
                                success: function(data) {
                                    var output = '';
                                    data.forEach(function(representative) {
                                        output += 'Name: ' + representative.name + '<br>';
                                        output += 'Phones: ' + representative.phones.join(', ') + '<br><br>';      
                                    });
                                    $('#representatives-data').html(output);
                                },
                                error: function(error) {
                                    console.error('Error fetching data:', error);
                                    $('#representatives-data').html('<p>Error fetching data. Please try again later.</p>');
                                }
                            });
                        });
                    });
                </script>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>